*, *::after, *::before
  box-sizing: border-box

body
  margin: 0
  font-size: 1.4rem

html
  font-size: 62.5%

.background
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center

.OkpdContainer
  background-color: whitesmoke
  padding: 5% 5%
  border-radius: 5px
  width: 100vw

.r
  margin: 8px 0
  display: flex
  justify-content: center

.search
  cursor: text
  border: lightgray
  width: 250px
  border-radius: 1vh

.Button
  color: white
  font-size: 1.8rem
  background-color: royalblue
  border-radius: 1vh
  border: darkslateblue solid 2px
  height: 5vh
  cursor: pointer

.labelHeader
  width: 100%
  font-size: 2.5rem
  text-align: center

.tableResult
  height: 70px
  width: 100%
  border: 2px solid lightgray
  border-collapse: collapse

.container
  display: flex
  justify-content: center

.wrapper
  min-height: 30vw
  min-width: 50vw
  max-height: 30vh
  background: lightgray
  padding: 20px
  overflow: scroll
  position: relative
  border-radius: 4px
  .firstUL
    transform: translateX(-90px)
    margin: 0 0

  .checkbox
    margin: 0 0
    display: flex
    align-items: center
    transform: translate(60px)
    &__label
      font-size: 16px
      font-weight: 500
    &__icon
      border: black solid 1px
      width: 16px
      height: 16px
      cursor: pointer
      background-color: whitesmoke
    .check-square
      font-weight: 800
      font-size: 16px
      position: relative
      &:after
        position: absolute
        content: '\2713'
        top: -4px
        left: 1px
